.inner-wrapper{    
    background-color: $primary-color;    
    // background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%22ffffff' fill-opacity='0.15' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    // background-size: cover;
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 100%;
    height: 100vh;
}

.fronttext-img{
    // display: block;
    position: fixed;
    z-index: 0;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include shine;
    & h1{
        margin-top: -25px;
        color: $white;
    }    
}



.goback{
    color: $devil-red;
    text-transform: capitalize;
}

// Responsive iframe

.iframe-container{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.iframe-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

// Social Network Icons

.social-wrapper{
    margin: 0 auto;

    & .social-icon{
        color: inherit;
        font-size: 2.5rem;
        margin-left: .3rem;
        &:hover{
            color: #c52e37;
        }
    }
}